<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block style %}{% endblock %}
</head>
<body>

    <header id="header">
        <div class="nav-container">
            <a href="{{ url_for('home.index') }}" class="logo">RESORT NAME</a>
            <ul class="nav-links">
                <li><a href="{{ url_for('home.index') }}">HOME</a></li>
                <li><a href="{{ url_for('home.about') }}">ABOUT US</a></li>
                <li><a href="{{ url_for('home.services') }}">SERVICES</a></li>
                <li><a href="{{ url_for('home.gallery') }}">GALLERY</a></li>
                <li><a href="#">REVIEWS</a></li>
                <li><a href="{{ url_for('home.join') }}">CAREERS</a></li>
            </ul>

            <ul class="side-bar">
                <li onclick=hideSidebar()><strong>×</strong></li>
                <li><a href="{{ url_for('home.index') }}">HOME</a></li>
                <li><a href="{{ url_for('home.about') }}">ABOUT US</a></li>
                <li><a href="{{ url_for('home.services') }}">SERVICES</a></li>
                <li><a href="{{ url_for('home.gallery') }}">GALLERY</a></li>
                <li><a href="#">REVIEWS</a></li>
                <li><a href="{{ url_for('home.join') }}">CAREERS</a></li>
            </ul>

            {% if user and user['admin'] %}
                <a href="{{ url_for('admin.dashboard') }}" class="btn btn-gold">DASHBOARD</a>
            {% elif user and not user['admin'] %}
                <div class="profile-container">
    
                    <div onclick="toggleProfileMenu()" class="profile-btn" id="profileBtn">
                        <img src="{{ url_for('static', filename='images/sample.jpeg') }}" alt="Profile">
                    </div>
    
                    <div class="profile-menu" id="profileMenu">
    
                        <div class="profile-header">
                            <img src="{{ url_for('static', filename='images/sample.jpeg') }}" alt="Profile">
                            <h3>{{ user.username }}</h3>
                            <p>{{ user.email }}</p>
                        </div>
    
                        <hr>
    
                        <a href="{{ url_for('home.booking') }}">My Bookings</a>
                        <a href="{{ url_for('home.booking') }}">Book More</a>
                        <a href="#">Account Settings</a>
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
    
                    </div>
    
                </div>
            {% else %}
                <a href="{{ url_for('auth.register') }}" class="btn btn-gold">REGISTER</a>
            {% endif %}


            <h1 onclick=showSidebar() class="triple-bar">≡</h1>
        </div>
    </header>

    <div class="pop-up hidden">
        <div class="pop-up-content">
            <h1 id="pop-up-title">SUCCESS</h1>
            <p id="pop-up-message">Your action was completed successfully!</p>
            <button id="pop-up-close" class="btn btn-gold" onclick=closePopup()>Close</button>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container" style="padding-bottom: 0;">
            <div class="footer-grid fade-up">
                <div class="footer-col">
                    <a href="#" class="footer-logo serif">Resort Name</a>
                    <p style="color: var(--text-light); margin-bottom: 1rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rem, ut repellendus eligendi itaque sequi tempore! Repudiandae natus deserunt sed quasi eius, facere culpa, velit vitae repellendus ipsum voluptates rerum.</p>
                    <div class="social-links">
                        <a href="#">FACEBOOK</i></a>
                        <a href="#">INSTAGRAM</i></a>
                        <a href="#">YOUTUBE</i></a>
                    </div>
                </div>
                
                <div class="footer-col">
                    <h4>The Resort</h4>
                    <ul>
                        <li><a href="{{ url_for('home.about') }}">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="{{ url_for('home.join') }}">Careers</a></li>
                        <li><a href="#">Resort Map</a></li>
                    </ul>
                </div>
                                
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul style="color: ivory;">
                        <li><b>✈</b>ADDRESS</li>
                        <li><b>☏</b>NUMBER</li>    <!-- to be added later -->
                        <li><b>✉</b>EMAIL</li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2026 Resort Name. All Rights Reserved. | <a href="#" style="color: goldenrod;">Privacy Policy</a> | <a href="#" style="color: goldenrod;">Terms of Service</a></p>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>